<footer class="page-footer indigo darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contact Me</h5>
        <p class="grey-text text-lighten-2">Find me at <a href="mailto:{{ site.email }}">{{ site.email }}</a> or on <a href="https://github.com/siuryan/">Github</a>.</p>
      </div>
      <!--
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="grey-text text-lighten-2" href="https://github.com/{{ site.github_username }}">GitHub</a></li>
          <li><a class="grey-text text-lighten-2" href="mailto:{{ site.email }}/">Email</a></li>
        </ul>
      </div>
      -->
    </div>
  </div>
  <div class="footer-copyright indigo darken-3">
    <div class="container">
      <div class="center">
        <span>&copy; 2018 Ryan Siu</span>
      </div>
    </div>
  </div>
</footer>
